In [ ]:
# installation of neccessery packages
#!pip install kaggle
#!pip install zipfile

Collecting kaggle
  Obtaining dependency information for kaggle from https://files.pythonhosted.org/packages/14/83/7f29c7abe0d5dc769dad7da993382c3e4239ad63e1dd58414d129e0a4da2/kaggle-1.7.4.5-py3-none-any.whl.metadata
  Downloading kaggle-1.7.4.5-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: bleach in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (2023.11.17)
Requirement already satisfied: charset-normalizer in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: idna in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (3.4)
Requirement already satisfied: protobuf in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (4.23.4)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (68.0.0)
Requirement already satisfied: six>=1.10 in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (1.26.18)
Requirement already satisfied: webencodings in c:\users\vaibh\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\users\vaibh\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: colorama in c:\users\vaibh\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
   ---------------------------------------- 0.0/181.2 kB ? eta -:--:--
   -- ------------------------------------- 10.2/181.2 kB ? eta -:--:--
   --------------------------------- ------ 153.6/181.2 kB 2.3 MB/s eta 0:00:01
   ---------------------------------------- 181.2/181.2 kB 2.2 MB/s eta 0:00:00
Installing collected packages: kaggle
Successfully installed kaggle-1.7.4.5

ERROR: Could not find a version that satisfies the requirement zipfile (from versions: none)
ERROR: No matching distribution found for zipfile

In [3]:
#Libraries
import pandas as pd
import zipfile
import kaggle

In [5]:
# downloading dataset from kaggle 
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
Downloading london-bike-sharing-dataset.zip to c:\Mine\Projects\Data Analysis\Lodon_bike_rides_dashboard

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|██████████| 165k/165k [00:00<00:00, 168MB/s]

In [11]:
#extraction of file from zipfile. 
zipfile_name = 'london-bike-sharing-dataset.zip'

with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [51]:
# read csv as a pandas dataframe
bikes = pd.read_csv("london_merged.csv")

In [52]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [53]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [54]:
bikes.shape

(17414, 10)

In [55]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [56]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [57]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [59]:
# creating dict of coloumn names which are easy to understand and work with 
new_cols_dict = {
    'timestamp' : 'time',
    'cnt' : 'count',
    't1' : 'temp_real_c',
    't2' : 'temp_feels_c',
    'hum' : 'humidity_percent',
    'wind_speed' : 'wind_speed_kph',
    'weather_code' : 'weather',
    'is_holiday' : 'is_holiday',
    'is_weekend' : 'is_weekend',
    'season' : 'season'
    
}

# Renaming the coloumns
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [60]:
bikes.humidity_percent = bikes.humidity_percent/100

In [61]:
# Changing season numbers into their respective names using dict
season_dict = {
    '0.0' : 'spring',
    '1.0' : 'summer',
    '2.0' : 'autumn',
    '3.0' : 'winter'
}

# Changing weather numbers into their respective names using dict
weather_dict ={
    '1.0' : 'Clear',
    '2.0' : 'Scattered clouds',
    '3.0' : 'Broken clouds',
    '4.0' : 'Cloudy',
    '7.0' : 'Rain',
    '10.0' : 'Rain with Thunderstorms',
    '26.0' : 'Snowfall'
}

#Changing season value type from float to string
bikes.season = bikes.season.astype('str')
#Changing Weather value type from float to string
bikes.weather = bikes.weather.astype('str')

#Change the values in the dataframe using the built dataframes
bikes.season = bikes.season.map(season_dict)
bikes.weather = bikes.weather.map(weather_dict)

In [62]:
bikes.head()

,time,count,temp_real_c,temp_feels_c,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [63]:
bikes.to_excel('london_bikes_final.xlsx',sheet_name='Data')